body{
    background: linear-gradient(to left, #edac7d, #659999);
    color: rgb(255, 255, 255);
    margin: initial;
   
}
h2{
  margin-left: 15px;
  text-align: center;
}

h2:hover{
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.5;
}

button[data-action="addBtn"]{
    outline: none;
    min-width: 200px;
    color: white;
    border: 2px solid;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    margin-left: 15px;
    background-color: #659999;
    
}
.buttons-container{
  text-align: center;
}
button:hover{
  opacity: 0.7;
}

button[data-action="create"]:hover{
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
  color: #659999;
}

button[data-action="create"]{
  padding: 6px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 30px;
  outline: none;
  width: auto;
  color: white;
  background-color: #659999;
}

h3:hover{
  cursor: pointer;
}
  
div.list-container {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
}


input, label {
  cursor: pointer;
  font-size: 19px;
}
  
input, select {
  padding: 6px;
  font-size: 16px;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  outline: none;
  width: auto;
  background-color: whitesmoke;
}
  
.add_container.hide_input{
  overflow: hidden;
  height: 0px;
}
  
.add_container.show_input{
    height: auto;
    padding: 5px;
    margin-top: 15px;
    align-items: center;
    display: block;
  }

form{
  text-align: center;
  
}

h1{
  color: white;
}
 
.fa-trash{
  pointer-events: none;
}

.filter_todo{
    border: 1px solid #eee;
    border-radius: 30px;
    height: auto;
}

.select_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.unimportant{
  color:#ffcaa4;
}

.important{
  color: rgb(255, 255, 142);
}

.veryimportant{
   color: #0c6666;
}

.todo_items{
  color: white;
  height: auto;
  width: auto;
}

img{
  width: 25px;
  height: auto;
  
}

ul{
  padding: inherit;
}

.show{
  height: 35px;
  list-style-type: none;
  transition: height 0.5s ease-out;
}

.hide{
  overflow: hidden;
  height: 0px;
}